# APP_NAME=Laravel
# APP_ENV=local
# APP_KEY=base64:qrNthSWQ8BfpQjfFQ6Ycxw5ex/VZM+34RSwki1jzcp4=
# APP_DEBUG=true
# APP_URL=http://localhost:8000
# FRONTEND_URL=http://localhost:3000

# APP_LOCALE=en
# APP_FALLBACK_LOCALE=en
# APP_FAKER_LOCALE=en_US

# APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

# BCRYPT_ROUNDS=12

# LOG_CHANNEL=stack
# LOG_STACK=single
# LOG_DEPRECATIONS_CHANNEL=null
# LOG_LEVEL=debug

# DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=moutar
# DB_USERNAME=root
# DB_PASSWORD=

# SESSION_DRIVER=database
# SESSION_LIFETIME=43200
# SESSION_ENCRYPT=false
# SESSION_PATH=/
# SESSION_DOMAIN=null

# BROADCAST_CONNECTION=log
# FILESYSTEM_DISK=local
# QUEUE_CONNECTION=database

# CACHE_STORE=database
# # CACHE_PREFIX=

# MEMCACHED_HOST=127.0.0.1

# REDIS_CLIENT=phpredis
# REDIS_HOST=127.0.0.1
# REDIS_PASSWORD=null
# REDIS_PORT=6379

# MAIL_MAILER=log
# MAIL_SCHEME=null
# MAIL_HOST=127.0.0.1
# MAIL_PORT=2525
# MAIL_USERNAME=null
# MAIL_PASSWORD=null
# MAIL_FROM_ADDRESS="hello@example.com"
# MAIL_FROM_NAME="${APP_NAME}"

# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_DEFAULT_REGION=us-east-1
# AWS_BUCKET=
# AWS_USE_PATH_STYLE_ENDPOINT=false

# VITE_APP_NAME="${APP_NAME}"

# GOOGLE_CLIENT_ID=298216356466-c2t3qtr6ng7fdakk2diqrf098hstmdlv.apps.googleusercontent.com
# GOOGLE_CLIENT_SECRET=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
# GOOGLE_REDIRECT_URL=http://localhost:8000/api/auth/google/callback

# SESSION_DRIVER=file

# MAIL_MAILER=smtp
# MAIL_HOST=softvencedelta.com
# MAIL_PORT=465
# MAIL_USERNAME=habibur@softvencedelta.com
# MAIL_PASSWORD='r?q8X-a3=~kB'
# MAIL_ENCRYPTION=ssl

# MAIL_FROM_ADDRESS=habibur@softvencedelta.com
# MAIL_FROM_NAME="Teracash"


# # DIDIT_BASE_URL=https://api.didit.me
# # DIDIT_API_URL=https://verification.didit.me/v3
# # DIDIT_API_KEY=qx-ugpBjDtO0C0bKN5OJK15kcAdDR6cTofRfBLl5_J0
# # DIDIT_WORKFLOW_ID=feb9abda-ee41-4060-8ef9-59ba1ae106a1
# # DIDIT_WEBHOOK_SECRET=-hDXdOVfAeJ6lDNFbxKtT2qF8sZYhiALweBUNpsh-sw 


# DIDIT_BASE_URL=https://api.didit.me
# DIDIT_API_URL=https://verification.didit.me/v3
# DIDIT_API_KEY=nw7SLVChKwEfARe9hBAK0r7tOLNFNC_QTV6ovK_xLQ4
# DIDIT_WORKFLOW_ID=cb656a9b-57e6-4259-ab87-52e3a7e7c863
# DIDIT_WEBHOOK_SECRET=sm39BX31buEg6xpFON-B-D92GPzktb_hYBVZQFNlMcs 


# STRIPE_KEY=pk_test_51SSrbYPzRFXcms39pphNhXldZzMi7lgQQ75iPFyaxwZmrE2oYddA4AUSXqAC8YDM0CYR78TsOIwXoIvDg2W3WNJw00MpUbRhSK
# STRIPE_SECRET=sk_test_51SSrbYPzRFXcms39PpYscgCdMYU3YsOpW1Kawdslcosjhq8ZXY4ybMZGUzoxEIDisqzpsE4yeEU76NO801rqO8KU00WwyK3ARE
# STRIPE_WEBHOOK_SECRET=

# DIGIPAY_BASE_URL=https://sandbox-api.example.com
# DIGIPAY_API_KEY=your_api_key
# DIGIPAY_API_SECRET=your_api_secret
# DIGIPAY_WEBHOOK_SECRET=your_webhook_secret